.page-background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: theme("colors.gray.600");
  padding: 1rem;

  min-width: max-content;
  min-height: max-content;

  border-radius: 1rem;

  transition-property: box-shadow, transform;
  transition-duration: 500ms;
}

.card:hover {
  box-shadow: 0rem 0rem 0rem 0.1rem theme("colors.gray.300");
  /*transform: scale(1.05);*/
}